.body {
    background: #ff8e04 url(img/2.png);
user-select:none;
overflow-x:hidden;
opacity: 1;
background-size:contain;
}
.top{
    width: 101.23%;
    display:flex;
    margin: -8px;
    min-height: 1200px;
    height: 100%;
    max-height: 100%;
    }
.top1{ 
width: 10%;
float: left;
background-color: #494642;
min-width: 160px;
max-width: 160px;
height: 1000;
border: solid 2px #000000;
}
.logo{
    background-image: url(img/1.jpg);
    width: 12%;
    min-width: 160px;
    max-width: 160px;
    height: 40px;
    background-size: 100% 100%;
    background-color: #ffffff;
position: fixed;
    }
.menu{

    opacity: 0.9;
top:auto;
}

.p1{
    width: 100%;
    height: 0px;
}
.p2{
    background-color: #494642;
    width: 12%;
    text-align: center;
    height: 220px;
    justify-content: center;
    display: block;
    padding-top: 0px;
    position: fixed;
    min-width: 160px;
    margin-top: auto;
    top: 40px;
    max-width: 160px;

}
.buttom{
    width: 86%;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    height: 24px;
    background-color: #000000;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    animation: myAnim 3s linear alternate infinite;
}
.buttom:hover{
    color: #000000;
    font-size: 18px;
    height: 24px;
    width: 86%;
    background-color: #d0d8d1;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}
.p3{
    width: 100%;
    height: 100%;
    background-color: #6d3030;
}








.top2{
    width: 90%;
    float: right;
    opacity: 0.95;
    border: solid 0px #000000;
    min-height: 200px;
    height: 100%;
    max-height: 100%;

}
.header{
    min-width: 1050px;
    width: 100%;
    height: 80px;
    background-color: #4b7532de;
    border-bottom: solid 2px #000000;
}
.header1{
    width: 130px;
    height: 100px;
    background-color: #494943;
    border: solid 4px #000000;
    border-radius: 10px;
    float: left;
    margin: 10px;
    margin-top: 3px;
}
.header2{   
    min-width: 200px;
}
.header3{
    width: 40%;
    height: 30px;
    background-color: #494943;
    border: solid 4px #000000;
    border-radius: 10px;
    float: right;
    margin: 10px;
    margin-top: -40px;
    min-width: 400px;
    margin-right: 360px;
}
.ff{
    color:#e5ff00;
    border-radius: 0 0 0 10px;
    text-align: right;
    font-size: 50px;
    text-align: center;
    margin-left: 80%; 
    margin-top: 0%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #494943;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 3px;
    white-space: nowrap;
    user-select:none;
    animation: myAnim 3s linear alternate infinite;
   }

   @keyframes myAnim{
    from{
        color: #ff0000;
    }
    to{
        color:#01ff6b;
    }
   }
   .h1{
    color: #fdfdfd;
    text-align: right;
    margin-right: 0%;
    text-align: left;
     margin-top: 0;
     font-family: cursive;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0px;
    white-space: nowrap;
    font-size: 24px;
   }
   .h2{
    color:#fdfdfd;
    text-align: right;
    margin-right: 0%;
    font-size: 24px;
    text-align: center;
    font-family:cursive;
    margin-top: -4px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0px;
    white-space: nowrap;
   }

   .tovar{
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    min-width: 350px;
}
.t1{
    margin: 20px;
    margin-top: 0;
    margin-left: 10px;
    width: 220px;
    height: 450px;
background-color: #ffffff;
border-radius: 10px;
border: solid 8px #ff0000;
display: inline-block;
animation: myAnime 3s linear alternate infinite;
position: relative;
}
@keyframes myAnime{
    from{
        border-color: #ff0000;
    }
    to{
        border-color:#01ff6b;
    }
   }
   
   @keyframes myAnimee{
    from{
        background-color: #f06c6c;
        color: #01ff6b;
        border-color: #01ff6b;
        font-size: 1000px;
    }
    to{
        background-color:#000000;
        color: #e5ff00;
        border-color: #bbc4be;
        font-size: 25px;
        width: 100px;
        height: 100px;
    }
   }
.t0{
    background-size: cover;
    width: 220px;
    height: 220px;
    border-radius: 0px;
}
.t2{
    margin: 10px;
    width: 180px;
    height: 32px;
    font-size: 26px;
    text-align: center;
background-color: #070202;
border-radius: 10px;
border: solid 4px #070508;
color: #d0d8d1;
bottom: -6px;
float:unset;
margin-left: 8%;
position: absolute;
}
.t2:hover{
background-color: #000000;
border: solid 4px #000000;
color: #0de226;
animation: myAnime 3s linear alternate infinite;
}
.zag{
    position: absolute;
    color:#000000;
    text-align: right;
    font-size: 24px;
    text-align: center;
margin-top: 0;
margin-left: 12%;
}
.zag1{
    color:#000000;
    text-align: right;
    font-size: 14px;
    text-align: center;
margin-top: 14%;
margin-left: 1%;
}
.zag2{
    background-color: #0d382793;
    width: 200px;
    position: absolute;
    color:#000000;
    text-align: right;
    font-size: 20px;
    text-align: center;
margin-top: 0;
margin-left: 5%;
bottom: 28px;
}
.f{
    color:#000000;
    background-color: #f3ebeb;
    text-align: right;
    margin-right: 0%;
    font-size: 30px;
    text-align: center;
    font-family:cursive;
    margin-top: -4px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0px;
}
.f1{
    color:#000000;
    background-color: #f3ebeb;
    text-align: right;
    margin-right: 0%;
    font-size: 30px;
    text-align: center;
    font-family:cursive;
    margin-top: -4px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0px;
}
.tovar1{
    width: 85%;
    text-align: center;
    background-color: #ffffff;
    margin-left: 2%;
    padding: 40px;
}